/* Graphite Nord theme colors: https://github.com/vinceliuice/Graphite-gtk-theme/blob/main/src/sass/gtk/_colors-public.scss */


/* For text input placeholders */
@define-color placeholder_text_color #fff;

/* Polar Night colors */
@define-color dark1 #2e3440;
@define-color dark2 #3b4252;
@define-color dark3 #434c5e;
@define-color dark4 #4c566a;

/* Snow Storm colors */
@define-color light1 #eceff4;
@define-color light2 #e5e9f0;
@define-color light3 #d8dee9;

/* Nord Aurora colors */
@define-color red #bf616a;
@define-color orange #d08770;
@define-color yellow #ebcb8b;
@define-color green #a3be8c;
@define-color purple #b48ead;

/* Frost */
@define-color blue1 #b5d2d9;
@define-color blue2 #81a1c1;
@define-color blue3 #5e81ac;
@define-color blue4 #8fbcbb;

button:focus {
  outline: @blue2 solid 2px;
  outline-offset: 1px;
}

.notification button:focus {
  outline: none;
}

window {
  background: transparent;
  font-family: 'Sora';
}

.asideStatusWidget {
  border: 0.15em solid @blue2;
  border-radius: 0 0.5rem 0 0;
  background-color: @dark2;
  margin: 5px 5px 7.5px 5.5px;
  padding: 0.8rem;
}

calendar {
  padding: 0;
  margin: 0;
  border-radius: 0 0.5rem 0 0;
}

separator {
  margin: 10px 0 10px 0;
  min-height: 2px;
}

.backgroundDim {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Sink selector */
popover {
  min-width: 20rem;
}

#emojiPicker entry {
  background-color: @dark3;
  border-radius: 7px 7px 0 0;
}

button {
  border: 1px solid @dark4;
}

button.active,
.button:focus,
.button:hover,
list row:focus,
list row:hover,
calendar button:focus,
calendar .today {
  background-color: @blue2;
  box-shadow: 0 0 5px 3px @blue3;
  border: 1px solid @blue1;
}

calendar .today {
  color: @light1;
  opacity: 0.8;
}

#bluetooth,
#network {
  padding-right: 1.1rem;
}

list row:focus,
list row:hover,
.searchableDialog button:focus,
.searchableDialog button:hover {
  transform: translateY(-2px) scale(1.01);
}

.widgetBackground {
  background-color: @dark1;
  border-radius: 0.5rem;
  padding: 1rem;
}

.backgroundOverlay {
  padding: 3rem 3rem 3rem 0;
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  min-height: 2rem;
  transition-duration: 0.5s;
}

.backgroundSection {
  margin: 1rem;
  line-height: 1.2rem;
}

.searchableDialog entry,
window .backgroundSection .header:first-child {
  background: transparent;
  color: @light3;
  outline-offset: -3px;
  outline: 2px solid #ffffff1c;
  font-family: 'Hammersmith One';
  border-radius: 0.4rem;
}

.backgroundSection .header:first-child {
  text-shadow: 0 0 10px @light3;
  font-size: 2rem;
}

/* Record menu */
#recordMenu label {
  font-size: 2.2rem;
}

#recordMenu image {
  -gtk-icon-shadow: 0 0 10px @light3;
}

/* Workspace preview */
#workspaces .statusElement {
  padding: 0.2rem 0;
  margin: 0.45rem 0.4rem;
}

#workspaces .workspace {
  background-color: @dark2;
  min-width: 1.32rem;
  min-height: 1.6rem;
  border-radius: 5px;
  transition: 0.1s;
  margin: 0.3rem 0.5rem;
}

#workspaces .workspace.active {
  background-color: @blue2;
  box-shadow: 0 0 5px @blue3;
  min-height: 2.1rem;
}

#workspaces .workspace.occupied {
  background-color: @dark4;
  min-height: 1.9rem;
}

/* Sideview widgets */

#sideview {
  margin: 0.333rem -1px 0.546rem 0rem;
  border: 0.2rem solid @dark4;
}

#sideview:focus-within {
  border-color: @blue3;
}