#lockscreen {
    background-color: rgba(46, 52, 64, 0.95);
    /* todo blur instead */
}

#lockscreen label { /* Time */
    font-size: 10rem;
    color: @blue3;
    font-family: 'Liberation Mono';
}

#lockscreen entry {
    opacity: 0;
}
