input {
  focus-follows-mouse
  workspace-auto-back-and-forth

  keyboard {
    repeat-delay 300
    repeat-rate 20
  }

  touchpad {
    tap
    dwt
    drag true
  }

  mouse {
    accel-speed 0.1
    accel-profile "flat"
  }

  trackpoint {
    off
  }

  trackball {
    off
  }

  tablet {
    off
  }

  touch {
    off
  }
}

layout {
  gaps 4

  default-column-width {
    proportion 0.5
  }

  focus-ring {
    off
  }

  tab-indicator {
    off
  }

  shadow {
    off
  }

  insert-hint {
      color "#5e81ac"
  }

  border {
    width 2
    active-color "#5e81ac"
    inactive-color "#4c566a"
    urgent-color "#bf616a"
  }
}

spawn-at-startup "fcitx5" "-d"
spawn-at-startup "gammastep" "-O" "4500"
spawn-at-startup "batsignal" "-w" "20" "-c" "5" "-d" "0" "-a" "Low battery"

hotkey-overlay {
  skip-at-startup
}

prefer-no-csd
screenshot-path null

gestures {
  hot-corners {
    off
  }
}

clipboard {
  disable-primary
}

// Rules
window-rule {
  geometry-corner-radius 5
  clip-to-geometry true
  open-focused true
  open-maximized-to-edges false
}

window-rule {
  match app-id=r#"^librewolf$"#
  match app-id=r#"^code$"#
  match app-id=r#"^slack$"#
  open-maximized true
}

layer-rule {
  match namespace="clipboard"
  block-out-from "screen-capture"
}

binds {
  Mod+Return repeat=false {
    spawn "foot"
  }

  Mod+E repeat=false {
    spawn "librewolf"
  }

  Mod+Space repeat=false {
    spawn "ags" "toggle" "launcher"
  }

  Mod+A repeat=false {
    spawn "ags" "toggle" "chat"
  }

  Mod+V repeat=false {
    spawn "ags" "toggle" "clipboard"
  }

  Mod+Period repeat=false {
    spawn "ags" "toggle" "emojiPicker"
  }

  Mod+Shift+S repeat=false {
    spawn "ags" "toggle" "powermenu"
  }

  Mod+C repeat=false {
    spawn "ags" "request" "hideNotif"
  }

  Mod+R repeat=false {
    spawn "ags" "request" "record"
  }

  Mod+Control+R repeat=false {
    spawn "ags" "request" "record"
  }

  Mod+Shift+D repeat=false {
    spawn "ags" "request" "toggleDND"
  }

  Mod+Control+Period repeat=false {
    spawn "ags" "request" "media next"
  }

  Mod+Control+Comma repeat=false {
    spawn "ags" "request" "media prev"
  }

  Mod+Shift+Period repeat=false {
    spawn "ags" "request" "media nextPlaylist"
  }

  Mod+Shift+Comma repeat=false {
    spawn "ags" "request" "media prevPlaylist"
  }

  Mod+Slash repeat=false {
    spawn "ags" "request" "media toggle"
  }

  XF86AudioRaiseVolume {
    spawn "wpctl" "set-volume" "@DEFAULT_SINK@" ".05+"
  }

  XF86AudioLowerVolume {
    spawn "wpctl" "set-volume" "@DEFAULT_SINK@" ".05-"
  }

  XF86MonBrightnessUp {
    spawn "brightnessctl" "set" "+15%"
  }

  XF86MonBrightnessDown {
    spawn "brightnessctl" "set" "15%-"
  }

  Mod+O repeat=false {
    toggle-overview
  }

  Mod+Q repeat=false {
    close-window
  }

  Mod+Left {
    focus-column-left
  }

  Mod+Down {
    focus-window-down
  }

  Mod+Up {
    focus-window-up
  }

  Mod+Right {
    focus-column-right
  }

  Mod+Ctrl+Left {
    move-column-left
  }

  Mod+Ctrl+Down {
    move-window-down
  }

  Mod+Ctrl+Up {
    move-window-up
  }

  Mod+Ctrl+Right {
    move-column-right
  }

  Mod+Shift+Left {
    focus-monitor-left
  }

  Mod+Shift+Down {
    focus-monitor-down
  }

  Mod+Shift+Up {
    focus-monitor-up
  }

  Mod+Shift+Right {
    focus-monitor-right
  }

  Mod+Shift+Ctrl+Left {
    move-column-to-monitor-left
  }

  Mod+Shift+Ctrl+Down {
    move-column-to-monitor-down
  }

  Mod+Shift+Ctrl+Up {
    move-column-to-monitor-up
  }

  Mod+Shift+Ctrl+Right {
    move-column-to-monitor-right
  }

  Mod+Page_Down {
    focus-workspace-down
  }

  Mod+Page_Up {
    focus-workspace-up
  }

  Mod+U {
    focus-workspace-down
  }

  Mod+I {
    focus-workspace-up
  }

  Mod+Ctrl+Page_Down {
    move-column-to-workspace-down
  }

  Mod+Ctrl+Page_Up {
    move-column-to-workspace-up
  }

  Mod+Ctrl+U {
    move-column-to-workspace-down
  }

  Mod+Ctrl+I {
    move-column-to-workspace-up
  }

  Mod+Shift+Page_Down {
    move-workspace-down
  }

  Mod+Shift+Page_Up {
    move-workspace-up
  }

  Mod+Shift+U {
    move-workspace-down
  }

  Mod+Shift+I {
    move-workspace-up
  }

  // Your updated scroll behavior
  Mod+WheelScrollUp cooldown-ms=150 {
    focus-column-left
  }

  Mod+WheelScrollDown cooldown-ms=150 {
    focus-column-right
  }

  Mod+Ctrl+WheelScrollUp cooldown-ms=150 {
    focus-workspace-up
  }

  Mod+Ctrl+WheelScrollDown cooldown-ms=150 {
    focus-workspace-down
  }

  Mod+WheelScrollRight {
    focus-column-right
  }

  Mod+WheelScrollLeft {
    focus-column-left
  }

  Mod+Ctrl+WheelScrollRight {
    move-column-right
  }

  Mod+Ctrl+WheelScrollLeft {
    move-column-left
  }

  Mod+Shift+WheelScrollDown {
    focus-column-right
  }

  Mod+Shift+WheelScrollUp {
    focus-column-left
  }

  Mod+Ctrl+Shift+WheelScrollDown {
    move-column-right
  }

  Mod+Ctrl+Shift+WheelScrollUp {
    move-column-left
  }

  Alt+Tab {
    focus-workspace-previous
  }

  Mod+Shift+F {
    maximize-column
  }

  Mod+Ctrl+Shift+F {
    toggle-windowed-fullscreen
  }

  F11 {
    fullscreen-window
  }

  Mod+F {
    toggle-window-floating
  }

  Print {
    screenshot
  }

  Mod+Escape allow-inhibiting=false {
    toggle-keyboard-shortcuts-inhibit
  }
}
