/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2837";

    fragment@0 {
        target-path = "/soc/spi@7e204000";
        __overlay__ {
            status = "okay";
            /delete-property/ cs-gpios;

            spidev0: spidev@0 {
                compatible = "rohm,dh2228fv";
                reg = <0>;
                spi-max-frequency = <125000000>;
            };

            spidev1: spidev@1 {
                compatible = "rohm,dh2228fv";
                reg = <1>;
                spi-max-frequency = <125000000>;
            };
        };
    };
};
