/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2837";

    fragment@0 {
        target-path = "/soc/gpio@7e200000";
        __overlay__ {
            alt0 {
                brcm,pins = <4 5 14 15 18 19 20 21>;
                brcm,function = <4>;
            };

            spi0_bus_pins: spi0_bus_pins {
                brcm,pins = <9 10 11>;
                brcm,function = <4>;
            };
        };
    };

    fragment@1 {
        target-path = "/soc/spi@7e204000";
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            pinctrl-names = "default";
            pinctrl-0 = <&spi0_bus_pins>;
            cs-gpios = <&gpio 8 1>, <&gpio 7 1>;

            spidev@0 {
                compatible = "rohm,dh2228fv";
                reg = <0>;
                spi-max-frequency = <10000000>;
            };

            spidev@1 {
                compatible = "rohm,dh2228fv";
                reg = <1>;
                spi-max-frequency = <10000000>;
            };
        };
    };
};
