#launcher button {
    padding: 0.5rem;
    border: 1px solid @dark4;
}
#launcher button:focus, #launcher button:hover { border: 1px solid @blue1; }

#launcher button image {
    -gtk-icon-size: 2rem;
    margin-right: 0.5rem;
}

#launcher button label.name {
    color: @light3;
    font-weight: bold;
}
#launcher button label.description { color: @light3; }

#launcher entry {
    padding-left: 2rem;
    font-size: 1.5rem;
}