.notification {
    background-color: @theme_bg_color;
    margin: 0.4rem;
    border-radius: 0 0 0 0.5rem;
    padding: 0;
    min-width: 15rem;
}

.notification .header {
    background-color: @dark2;
    padding: 0.5rem;
    margin: 0;
    border-radius: 4px 4px 0 0;
    border-bottom: 2.5px solid @blue3;
}

.notification .content { margin-top: 0; padding: 0.7rem; }
.notification .summary { font-size: 1.1rem; }
.notification .actions { padding-top: 0.7rem; }
.notification .appName, .notification .summary { font-family: 'Hammersmith One'; }
