.statusElement {
    background: @theme_bg_color;
    margin: 0.4rem;
    border: 0.15rem @dark4 solid;
}

#status .statusElement { border-radius: 0.5rem 0.5rem 0 0; }
#status .statusElement#media { border-radius: 0.5rem; }
#workspaces .statusElement { border-radius: 0 0 0.5rem 0.5rem; }

.statusMenu { padding: 0.5rem 0 1rem 0; }
.statusMenu image {
    -gtk-icon-size: 0.9rem;
    -gtk-icon-shadow: 0 0 12px @light3;
    color: @light3;
}
.timeSection { padding: 0.4rem 0 0.5rem 0; }

/* Time/date module */
.time .date, .time .day {
    color: @blue2;
    text-shadow: 0 0 3px @blue3;
    margin: 0;
    font-style: italic;
    font-size: 1.1rem;
}
.time { font-family: 'WenQuanYi Zen Hei Mono'; }
.time .time {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: @blue2;
    text-shadow: 0 0 5px @blue3;
    padding: 4px 5px 2px 5px;
}
.time .day { font-size: 1.1rem; }

/* Bluetooth */
.unpowered {
    padding: 2rem;
    margin: 0.5rem;
    -gtk-icon-size: 3rem;
}
.bluetoothButton { transition: none; }
#bluetooth button { margin: 4px; }

/* Workspace view */
#workspaces .statusElement { padding: 0.2rem 0; margin: 0.45rem 0.4rem; }
#workspaces .workspace {
    background-color: @dark2;
    min-width: 1.32rem;
    min-height: 1.6rem;
    border-radius: 5px;
    transition: 0.1s;
    margin: 0.3rem 0.5rem;
}
#workspaces .workspace.active {
    background-color: @blue2;
    box-shadow: 0 0 5px @blue3;
    min-height: 2.1rem;
}
#workspaces .workspace.occupied { background-color: @dark4; min-height: 1.9rem; }

/* Recording indicator */
.recIndicator {
    color: #bf616a;
    padding: 0.5rem;
    -gtk-icon-shadow: 0 0 10px #bf616a;
}

/* Media/mpris player */
#mediaBtn image, #media image { -gtk-icon-size: 1.3rem; }
#status #mediaBtn { border-radius: 0.3rem; padding: 0.5rem; }
#status #mprisBtn { padding: 0.8rem 0; }
#status #media, #status #mediaBtn { transition-duration: 0.3s; }
