.barElement {
    background: @theme_bg_color;
    margin: 0.4rem;
    border-radius: 0.5rem;
    border: 0.15rem @dark4 solid;
}

.barElement .infoCenter {
    margin: 0;
    border-radius: 0rem;
    padding: 0.3rem;
}

.statusMenu { padding: 0.5rem 0 0.5rem 0; }
.statusMenu image {
    -gtk-icon-size: 0.8rem;
    -gtk-icon-shadow: 0 0 12px @light3;
    color: @light3;
}
.timeBtn { margin-bottom: 0.2rem; padding: 0.4rem 0; }

/* Time/date module */
.time .date, .time .day {
    font-style: italic;
    color: @blue2;
    text-shadow: 0 0 3px @blue3;
}
.time { font-family: 'WenQuanYi Zen Hei Mono'; }
.date.bottom { margin-bottom: 3px; }
.time .time {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: @blue2;
    text-shadow: 0 0 5px @blue3;
}
.time .day { font-size: 0.9rem; }

/* Workspace view */
#workspaces .barElement { padding: 0.2rem 0; }
#workspaces .workspaceBtn {
    background-color: @dark2;
    min-width: 1rem;
    min-height: 1.1rem;
    border-radius: 5px;
    transition: 0.1s;
    margin: 0.25rem 0.45rem;
}
#workspaces .workspaceBtn.active {
    background-color: @blue2;
    box-shadow: 0 0 5px @blue3;
    min-height: 1.6rem;
}
#workspaces .workspaceBtn.occupied { background-color: @dark4; min-height: 1.4rem; }

/* Recording indicator */
.recIndicator {
    color: #bf616a;
    padding: 0.5rem;
    -gtk-icon-shadow: 0 0 10px #bf616a;
}

/* Media/mpris player */
#bar #mediaBtn { border-radius: 0.3rem; padding: 0; }
#bar #mprisBtn { padding: 0.2rem 0; }
#bar #media, #bar #mediaBtn { transition-duration: 0.3s; }
